
@{
    ViewBag.Title = "Products";
}
@Styles.Render("~/Content/Products.css")
<h2>
    @ViewBag.Title
</h2>
<body>

    <div class="topLeft">

        <img src="~/Photoes/prod1.png" width="500" height="375" style="text-align: center">
        <a href='@Url.Action("Index", "Product", new {Id = 1 })' target="_blank">
            <h3 x="0" y="20" font-family="Verdana" font-size="30" fill="black" style="position:relative; top:500px">
                Standard series
            </h3>
        </a>

    </div>
    <div class="topRight">
        <img src="~/Photoes/prod2.png" width="500" height="375" style="text-align: center">
        <br />
        <a href='@Url.Action("Index", "Product", new {Id = 2})' target="_blank">
            <h3 x="0" y="20" font-family="Verdana" font-size="30" fill="black" style="position:relative; top:475px">
                Low chlorine series
            </h3>
        </a>
    </div>
    <div class="bottomLeft">
        <img src="~/Photoes/prod3.png" width="500" height="375" style="text-align: center">
        <br />
        <a href='@Url.Action("Index", "Product", new {Id = 3 })' target="_blank">
            <h3 x="0" y="20" font-family="Verdana" font-size="30" fill="black" style="position:relative; top:475px">
                Gardening series
            </h3>
        </a>
    </div>
    <div class="bottomRight">

    </div>


</body>
